$Dark-blue-100: #609ED4;
$Dark-blue-200: #356EA9;
$Dark-blue-300: #0A3871;
$Dark-blue-400: #072B61;
$Dark-blue-500: #052051;

$Light-blue-100: #F3F5FC;
$Light-blue-200: #EFF1FA;
$Light-blue-300: #E9ECF8;
$Light-blue-400: #AAB2D5;
$Light-blue-500: #757FB2;

$Gray-100: #CED4DA;
$Gray-200: #ADB5BD;
$Gray-300: #868E96;
$Gray-400: #495057;
$Gray-500: #343A40;

$White: #FFFFFF;

$Inter: 'Inter', sans-serif;